/*!
 *  Devicons 1.0 made by Theodore Vorillas / http://vorillaz.com 
 */
@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons.eot?xqxft6");
  src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.devicons {
  font-family: 'devicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.devicons.devicons-git:before {
  content: "\e602"; }

.devicons.devicons-git_compare:before {
  content: "\e628"; }

.devicons.devicons-git_branch:before {
  content: "\e625"; }

.devicons.devicons-git_commit:before {
  content: "\e629"; }

.devicons.devicons-git_pull_request:before {
  content: "\e626"; }

.devicons.devicons-git_merge:before {
  content: "\e627"; }

.devicons.devicons-bitbucket:before {
  content: "\e603"; }

.devicons.devicons-github_alt:before {
  content: "\e608"; }

.devicons.devicons-github_badge:before {
  content: "\e609"; }

.devicons.devicons-github:before {
  content: "\e60a"; }

.devicons.devicons-github_full:before {
  content: "\e617"; }

.devicons.devicons-java:before {
  content: "\e638"; }

.devicons.devicons-ruby:before {
  content: "\e639"; }

.devicons.devicons-scala:before {
  content: "\e637"; }

.devicons.devicons-python:before {
  content: "\e63c"; }

.devicons.devicons-go:before {
  content: "\e624"; }

.devicons.devicons-ruby_on_rails:before {
  content: "\e63b"; }

.devicons.devicons-django:before {
  content: "\e61d"; }

.devicons.devicons-markdown:before {
  content: "\e63e"; }

.devicons.devicons-php:before {
  content: "\e63d"; }

.devicons.devicons-mysql:before {
  content: "\e604"; }

.devicons.devicons-streamline:before {
  content: "\e605"; }

.devicons.devicons-database:before {
  content: "\e606"; }

.devicons.devicons-laravel:before {
  content: "\e63f"; }

.devicons.devicons-javascript:before {
  content: "\e64e"; }

.devicons.devicons-angular:before {
  content: "\e653"; }

.devicons.devicons-backbone:before {
  content: "\e652"; }

.devicons.devicons-coffeescript:before {
  content: "\e651"; }

.devicons.devicons-jquery:before {
  content: "\e650"; }

.devicons.devicons-modernizr:before {
  content: "\e620"; }

.devicons.devicons-jquery_ui:before {
  content: "\e654"; }

.devicons.devicons-ember:before {
  content: "\e61b"; }

.devicons.devicons-dojo:before {
  content: "\e61c"; }

.devicons.devicons-nodejs:before {
  content: "\e619"; }

.devicons.devicons-nodejs_small:before {
  content: "\e618"; }

.devicons.devicons-javascript_shield:before {
  content: "\e64f"; }

.devicons.devicons-bootstrap:before {
  content: "\e647"; }

.devicons.devicons-sass:before {
  content: "\e64b"; }

.devicons.devicons-css3_full:before {
  content: "\e64a"; }

.devicons.devicons-css3:before {
  content: "\e649"; }

.devicons.devicons-html5:before {
  content: "\e636"; }

.devicons.devicons-html5_multimedia:before {
  content: "\e632"; }

.devicons.devicons-html5_device_access:before {
  content: "\e633"; }

.devicons.devicons-html5_3d_effects:before {
  content: "\e635"; }

.devicons.devicons-html5_connectivity:before {
  content: "\e634"; }

.devicons.devicons-ghost_small:before {
  content: "\e614"; }

.devicons.devicons-ghost:before {
  content: "\e61f"; }

.devicons.devicons-magento:before {
  content: "\e640"; }

.devicons.devicons-joomla:before {
  content: "\e641"; }

.devicons.devicons-jekyll_small:before {
  content: "\e60d"; }

.devicons.devicons-drupal:before {
  content: "\e642"; }

.devicons.devicons-wordpress:before {
  content: "\e60b"; }

.devicons.devicons-grunt:before {
  content: "\e64c"; }

.devicons.devicons-bower:before {
  content: "\e64d"; }

.devicons.devicons-npm:before {
  content: "\e61e"; }

.devicons.devicons-yahoo_small:before {
  content: "\e62b"; }

.devicons.devicons-yahoo:before {
  content: "\e615"; }

.devicons.devicons-bing_small:before {
  content: "\e600"; }

.devicons.devicons-windows:before {
  content: "\e60f"; }

.devicons.devicons-linux:before {
  content: "\e612"; }

.devicons.devicons-ubuntu:before {
  content: "\e63a"; }

.devicons.devicons-android:before {
  content: "\e60e"; }

.devicons.devicons-apple:before {
  content: "\e611"; }

.devicons.devicons-appstore:before {
  content: "\e613"; }

.devicons.devicons-phonegap:before {
  content: "\e630"; }

.devicons.devicons-blackberry:before {
  content: "\e623"; }

.devicons.devicons-stackoverflow:before {
  content: "\e610"; }

.devicons.devicons-techcrunch:before {
  content: "\e62c"; }

.devicons.devicons-codrops:before {
  content: "\e62f"; }

.devicons.devicons-css_tricks:before {
  content: "\e601"; }

.devicons.devicons-smashing_magazine:before {
  content: "\e62d"; }

.devicons.devicons-netmagazine:before {
  content: "\e62e"; }

.devicons.devicons-codepen:before {
  content: "\e616"; }

.devicons.devicons-cssdeck:before {
  content: "\e62a"; }

.devicons.devicons-hackernews:before {
  content: "\e61a"; }

.devicons.devicons-dropbox:before {
  content: "\e607"; }

.devicons.devicons-google_drive:before {
  content: "\e631"; }

.devicons.devicons-visualstudio:before {
  content: "\e60c"; }

.devicons.devicons-unity_small:before {
  content: "\e621"; }

.devicons.devicons-rasberry_pi:before {
  content: "\e622"; }

.devicons.devicons-chrome:before {
  content: "\e643"; }

.devicons.devicons-ie:before {
  content: "\e644"; }

.devicons.devicons-firefox:before {
  content: "\e645"; }

.devicons.devicons-opera:before {
  content: "\e646"; }

.devicons.devicons-safari:before {
  content: "\e648"; }
