@import "variables";

@font-face {
  font-family: 'devicons';
  src:  url('#{$devicons-font-path}/devicons.eot?k42glo');
  src:  url('#{$devicons-font-path}/devicons.eot?k42glo#iefix') format('embedded-opentype'),
    url('#{$devicons-font-path}/devicons.ttf?k42glo') format('truetype'),
    url('#{$devicons-font-path}/devicons.woff?k42glo') format('woff'),
    url('#{$devicons-font-path}/devicons.svg?k42glo#devicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="devicons-"], [class*=" devicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicons-mocha {
  &:before {
    content: $devicons-mocha;
  }
}
.devicons-typescript {
  &:before {
    content: $devicons-typescript;
  }
}
.devicons-git {
  &:before {
    content: $devicons-git;
  }
}
.devicons-git_compare {
  &:before {
    content: $devicons-git_compare;
  }
}
.devicons-git_branch {
  &:before {
    content: $devicons-git_branch;
  }
}
.devicons-git_commit {
  &:before {
    content: $devicons-git_commit;
  }
}
.devicons-git_pull_request {
  &:before {
    content: $devicons-git_pull_request;
  }
}
.devicons-git_merge {
  &:before {
    content: $devicons-git_merge;
  }
}
.devicons-bitbucket {
  &:before {
    content: $devicons-bitbucket;
  }
}
.devicons-github_alt {
  &:before {
    content: $devicons-github_alt;
  }
}
.devicons-github_badge {
  &:before {
    content: $devicons-github_badge;
  }
}
.devicons-github {
  &:before {
    content: $devicons-github;
  }
}
.devicons-github_full {
  &:before {
    content: $devicons-github_full;
  }
}
.devicons-java {
  &:before {
    content: $devicons-java;
  }
}
.devicons-ruby {
  &:before {
    content: $devicons-ruby;
  }
}
.devicons-scala {
  &:before {
    content: $devicons-scala;
  }
}
.devicons-python {
  &:before {
    content: $devicons-python;
  }
}
.devicons-go {
  &:before {
    content: $devicons-go;
  }
}
.devicons-ruby_on_rails {
  &:before {
    content: $devicons-ruby_on_rails;
  }
}
.devicons-django {
  &:before {
    content: $devicons-django;
  }
}
.devicons-markdown {
  &:before {
    content: $devicons-markdown;
  }
}
.devicons-php {
  &:before {
    content: $devicons-php;
  }
}
.devicons-mysql {
  &:before {
    content: $devicons-mysql;
  }
}
.devicons-streamline {
  &:before {
    content: $devicons-streamline;
  }
}
.devicons-database {
  &:before {
    content: $devicons-database;
  }
}
.devicons-laravel {
  &:before {
    content: $devicons-laravel;
  }
}
.devicons-javascript {
  &:before {
    content: $devicons-javascript;
  }
}
.devicons-angular {
  &:before {
    content: $devicons-angular;
  }
}
.devicons-backbone {
  &:before {
    content: $devicons-backbone;
  }
}
.devicons-coffeescript {
  &:before {
    content: $devicons-coffeescript;
  }
}
.devicons-jquery {
  &:before {
    content: $devicons-jquery;
  }
}
.devicons-modernizr {
  &:before {
    content: $devicons-modernizr;
  }
}
.devicons-jquery_ui {
  &:before {
    content: $devicons-jquery_ui;
  }
}
.devicons-ember {
  &:before {
    content: $devicons-ember;
  }
}
.devicons-dojo {
  &:before {
    content: $devicons-dojo;
  }
}
.devicons-nodejs {
  &:before {
    content: $devicons-nodejs;
  }
}
.devicons-nodejs_small {
  &:before {
    content: $devicons-nodejs_small;
  }
}
.devicons-javascript_shield {
  &:before {
    content: $devicons-javascript_shield;
  }
}
.devicons-bootstrap {
  &:before {
    content: $devicons-bootstrap;
  }
}
.devicons-sass {
  &:before {
    content: $devicons-sass;
  }
}
.devicons-css3_full {
  &:before {
    content: $devicons-css3_full;
  }
}
.devicons-css3 {
  &:before {
    content: $devicons-css3;
  }
}
.devicons-html5 {
  &:before {
    content: $devicons-html5;
  }
}
.devicons-html5_multimedia {
  &:before {
    content: $devicons-html5_multimedia;
  }
}
.devicons-html5_device_access {
  &:before {
    content: $devicons-html5_device_access;
  }
}
.devicons-html5_3d_effects {
  &:before {
    content: $devicons-html5_3d_effects;
  }
}
.devicons-html5_connectivity {
  &:before {
    content: $devicons-html5_connectivity;
  }
}
.devicons-ghost_small {
  &:before {
    content: $devicons-ghost_small;
  }
}
.devicons-ghost {
  &:before {
    content: $devicons-ghost;
  }
}
.devicons-magento {
  &:before {
    content: $devicons-magento;
  }
}
.devicons-joomla {
  &:before {
    content: $devicons-joomla;
  }
}
.devicons-jekyll_small {
  &:before {
    content: $devicons-jekyll_small;
  }
}
.devicons-drupal {
  &:before {
    content: $devicons-drupal;
  }
}
.devicons-wordpress {
  &:before {
    content: $devicons-wordpress;
  }
}
.devicons-grunt {
  &:before {
    content: $devicons-grunt;
  }
}
.devicons-bower {
  &:before {
    content: $devicons-bower;
  }
}
.devicons-npm {
  &:before {
    content: $devicons-npm;
  }
}
.devicons-yahoo_small {
  &:before {
    content: $devicons-yahoo_small;
  }
}
.devicons-yahoo {
  &:before {
    content: $devicons-yahoo;
  }
}
.devicons-bing_small {
  &:before {
    content: $devicons-bing_small;
  }
}
.devicons-windows {
  &:before {
    content: $devicons-windows;
  }
}
.devicons-linux {
  &:before {
    content: $devicons-linux;
  }
}
.devicons-ubuntu {
  &:before {
    content: $devicons-ubuntu;
  }
}
.devicons-android {
  &:before {
    content: $devicons-android;
  }
}
.devicons-apple {
  &:before {
    content: $devicons-apple;
  }
}
.devicons-appstore {
  &:before {
    content: $devicons-appstore;
  }
}
.devicons-phonegap {
  &:before {
    content: $devicons-phonegap;
  }
}
.devicons-blackberry {
  &:before {
    content: $devicons-blackberry;
  }
}
.devicons-stackoverflow {
  &:before {
    content: $devicons-stackoverflow;
  }
}
.devicons-techcrunch {
  &:before {
    content: $devicons-techcrunch;
  }
}
.devicons-codrops {
  &:before {
    content: $devicons-codrops;
  }
}
.devicons-css_tricks {
  &:before {
    content: $devicons-css_tricks;
  }
}
.devicons-smashing_magazine {
  &:before {
    content: $devicons-smashing_magazine;
  }
}
.devicons-netmagazine {
  &:before {
    content: $devicons-netmagazine;
  }
}
.devicons-codepen {
  &:before {
    content: $devicons-codepen;
  }
}
.devicons-cssdeck {
  &:before {
    content: $devicons-cssdeck;
  }
}
.devicons-hackernews {
  &:before {
    content: $devicons-hackernews;
  }
}
.devicons-dropbox {
  &:before {
    content: $devicons-dropbox;
  }
}
.devicons-google_drive {
  &:before {
    content: $devicons-google_drive;
  }
}
.devicons-visualstudio {
  &:before {
    content: $devicons-visualstudio;
  }
}
.devicons-unity_small {
  &:before {
    content: $devicons-unity_small;
  }
}
.devicons-rasberry_pi {
  &:before {
    content: $devicons-rasberry_pi;
  }
}
.devicons-chrome {
  &:before {
    content: $devicons-chrome;
  }
}
.devicons-ie {
  &:before {
    content: $devicons-ie;
  }
}
.devicons-firefox {
  &:before {
    content: $devicons-firefox;
  }
}
.devicons-opera {
  &:before {
    content: $devicons-opera;
  }
}
.devicons-safari {
  &:before {
    content: $devicons-safari;
  }
}
.devicons-swift {
  &:before {
    content: $devicons-swift;
  }
}
.devicons-symfony {
  &:before {
    content: $devicons-symfony;
  }
}
.devicons-symfony_badge {
  &:before {
    content: $devicons-symfony_badge;
  }
}
.devicons-less {
  &:before {
    content: $devicons-less;
  }
}
.devicons-stylus {
  &:before {
    content: $devicons-stylus;
  }
}
.devicons-trello {
  &:before {
    content: $devicons-trello;
  }
}
.devicons-atlassian {
  &:before {
    content: $devicons-atlassian;
  }
}
.devicons-jira {
  &:before {
    content: $devicons-jira;
  }
}
.devicons-envato {
  &:before {
    content: $devicons-envato;
  }
}
.devicons-snap_svg {
  &:before {
    content: $devicons-snap_svg;
  }
}
.devicons-raphael {
  &:before {
    content: $devicons-raphael;
  }
}
.devicons-google_analytics {
  &:before {
    content: $devicons-google_analytics;
  }
}
.devicons-compass {
  &:before {
    content: $devicons-compass;
  }
}
.devicons-onedrive {
  &:before {
    content: $devicons-onedrive;
  }
}
.devicons-gulp {
  &:before {
    content: $devicons-gulp;
  }
}
.devicons-atom {
  &:before {
    content: $devicons-atom;
  }
}
.devicons-cisco {
  &:before {
    content: $devicons-cisco;
  }
}
.devicons-nancy {
  &:before {
    content: $devicons-nancy;
  }
}
.devicons-clojure {
  &:before {
    content: $devicons-clojure;
  }
}
.devicons-clojure_alt {
  &:before {
    content: $devicons-clojure_alt;
  }
}
.devicons-perl {
  &:before {
    content: $devicons-perl;
  }
}
.devicons-celluloid {
  &:before {
    content: $devicons-celluloid;
  }
}
.devicons-w3c {
  &:before {
    content: $devicons-w3c;
  }
}
.devicons-redis {
  &:before {
    content: $devicons-redis;
  }
}
.devicons-postgresql {
  &:before {
    content: $devicons-postgresql;
  }
}
.devicons-webplatform {
  &:before {
    content: $devicons-webplatform;
  }
}
.devicons-jenkins {
  &:before {
    content: $devicons-jenkins;
  }
}
.devicons-requirejs {
  &:before {
    content: $devicons-requirejs;
  }
}
.devicons-opensource {
  &:before {
    content: $devicons-opensource;
  }
}
.devicons-typo3 {
  &:before {
    content: $devicons-typo3;
  }
}
.devicons-uikit {
  &:before {
    content: $devicons-uikit;
  }
}
.devicons-doctrine {
  &:before {
    content: $devicons-doctrine;
  }
}
.devicons-groovy {
  &:before {
    content: $devicons-groovy;
  }
}
.devicons-nginx {
  &:before {
    content: $devicons-nginx;
  }
}
.devicons-haskell {
  &:before {
    content: $devicons-haskell;
  }
}
.devicons-zend {
  &:before {
    content: $devicons-zend;
  }
}
.devicons-gnu {
  &:before {
    content: $devicons-gnu;
  }
}
.devicons-yeoman {
  &:before {
    content: $devicons-yeoman;
  }
}
.devicons-heroku {
  &:before {
    content: $devicons-heroku;
  }
}
.devicons-debian {
  &:before {
    content: $devicons-debian;
  }
}
.devicons-travis {
  &:before {
    content: $devicons-travis;
  }
}
.devicons-dotnet {
  &:before {
    content: $devicons-dotnet;
  }
}
.devicons-codeigniter {
  &:before {
    content: $devicons-codeigniter;
  }
}
.devicons-javascript_badge {
  &:before {
    content: $devicons-javascript_badge;
  }
}
.devicons-yii {
  &:before {
    content: $devicons-yii;
  }
}
.devicons-msql_server {
  &:before {
    content: $devicons-msql_server;
  }
}
.devicons-composer {
  &:before {
    content: $devicons-composer;
  }
}
.devicons-krakenjs_badge {
  &:before {
    content: $devicons-krakenjs_badge;
  }
}
.devicons-krakenjs {
  &:before {
    content: $devicons-krakenjs;
  }
}
.devicons-mozilla {
  &:before {
    content: $devicons-mozilla;
  }
}
.devicons-firebase {
  &:before {
    content: $devicons-firebase;
  }
}
.devicons-sizzlejs {
  &:before {
    content: $devicons-sizzlejs;
  }
}
.devicons-creativecommons {
  &:before {
    content: $devicons-creativecommons;
  }
}
.devicons-creativecommons_badge {
  &:before {
    content: $devicons-creativecommons_badge;
  }
}
.devicons-mitlicence {
  &:before {
    content: $devicons-mitlicence;
  }
}
.devicons-senchatouch {
  &:before {
    content: $devicons-senchatouch;
  }
}
.devicons-bugsense {
  &:before {
    content: $devicons-bugsense;
  }
}
.devicons-extjs {
  &:before {
    content: $devicons-extjs;
  }
}
.devicons-mootools_badge {
  &:before {
    content: $devicons-mootools_badge;
  }
}
.devicons-mootools {
  &:before {
    content: $devicons-mootools;
  }
}
.devicons-ruby_rough {
  &:before {
    content: $devicons-ruby_rough;
  }
}
.devicons-komodo {
  &:before {
    content: $devicons-komodo;
  }
}
.devicons-coda .path1 {
  &:before {
    content: $devicons-coda-path1;  
    color: #91CC62;
  }
}
.devicons-coda .path2 {
  &:before {
    content: $devicons-coda-path2;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-coda .path3 {
  &:before {
    content: $devicons-coda-path3;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-bintray {
  &:before {
    content: $devicons-bintray;
  }
}
.devicons-terminal {
  &:before {
    content: $devicons-terminal;
  }
}
.devicons-code {
  &:before {
    content: $devicons-code;
  }
}
.devicons-responsive .path1 {
  &:before {
    content: $devicons-responsive-path1;  
    color: #FFFFFF;
  }
}
.devicons-responsive .path2 {
  &:before {
    content: $devicons-responsive-path2;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-responsive .path3 {
  &:before {
    content: $devicons-responsive-path3;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-responsive .path4 {
  &:before {
    content: $devicons-responsive-path4;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-responsive .path5 {
  &:before {
    content: $devicons-responsive-path5;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-responsive .path6 {
  &:before {
    content: $devicons-responsive-path6;  
    margin-left: -1em;  
    color: #000;
  }
}
.devicons-responsive .path7 {
  &:before {
    content: $devicons-responsive-path7;  
    margin-left: -1em;  
    color: #FFFFFF;
  }
}
.devicons-dart {
  &:before {
    content: $devicons-dart;
  }
}
.devicons-aptana {
  &:before {
    content: $devicons-aptana;
  }
}
.devicons-mailchimp {
  &:before {
    content: $devicons-mailchimp;
  }
}
.devicons-netbeans {
  &:before {
    content: $devicons-netbeans;
  }
}
.devicons-dreamweaver {
  &:before {
    content: $devicons-dreamweaver;
  }
}
.devicons-brackets {
  &:before {
    content: $devicons-brackets;
  }
}
.devicons-eclipse {
  &:before {
    content: $devicons-eclipse;
  }
}
.devicons-cloud9 {
  &:before {
    content: $devicons-cloud9;
  }
}
.devicons-scrum {
  &:before {
    content: $devicons-scrum;
  }
}
.devicons-prolog {
  &:before {
    content: $devicons-prolog;
  }
}
.devicons-terminal_badge {
  &:before {
    content: $devicons-terminal_badge;
  }
}
.devicons-code_badge .path1 {
  &:before {
    content: $devicons-code_badge-path1;  
    color: #000;
  }
}
.devicons-code_badge .path2 {
  &:before {
    content: $devicons-code_badge-path2;  
    margin-left: -1em;  
    color: #231F20;
  }
}
.devicons-code_badge .path3 {
  &:before {
    content: $devicons-code_badge-path3;  
    margin-left: -1em;  
    color: #231F20;
  }
}
.devicons-code_badge .path4 {
  &:before {
    content: $devicons-code_badge-path4;  
    margin-left: -1em;  
    color: #231F20;
  }
}
.devicons-mongodb {
  &:before {
    content: $devicons-mongodb;
  }
}
.devicons-meteor {
  &:before {
    content: $devicons-meteor;
  }
}
.devicons-meteorfull {
  &:before {
    content: $devicons-meteorfull;
  }
}
.devicons-fsharp {
  &:before {
    content: $devicons-fsharp;
  }
}
.devicons-rust {
  &:before {
    content: $devicons-rust;
  }
}
.devicons-ionic {
  &:before {
    content: $devicons-ionic;
  }
}
.devicons-sublime {
  &:before {
    content: $devicons-sublime;
  }
}

