/*!
 *  Devicons 1.3 made by Theodore Vorillas / http://vorillaz.com 
 */
 
.devicons {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.devicons-git {
	/*fill: #000000;*/
}
.devicons-git_compare {
	/*fill: #000000;*/
}
.devicons-git_branch {
	/*fill: #000000;*/
}
.devicons-git_commit {
	/*fill: #000000;*/
}
.devicons-git_pull_request {
	/*fill: #000000;*/
}
.devicons-git_merge {
	/*fill: #000000;*/
}
.devicons-bitbucket {
	/*fill: #000000;*/
}
.devicons-github_alt {
	/*fill: #000000;*/
}
.devicons-github_badge {
	/*fill: #000000;*/
}
.devicons-github {
	/*fill: #000000;*/
}
.devicons-github_full {
	/*fill: #000000;*/
}
.devicons-java {
	/*fill: #000000;*/
}
.devicons-ruby {
	/*fill: #000000;*/
}
.devicons-scala {
	/*fill: #000000;*/
}
.devicons-python {
	/*fill: #000000;*/
}
.devicons-go {
	/*fill: #000000;*/
}
.devicons-ror {
	/*fill: #000000;*/
}
.devicons-django {
	/*fill: #000000;*/
}
.devicons-markdown {
	/*fill: #000000;*/
}
.devicons-php {
	/*fill: #000000;*/
}
.devicons-mysql {
	/*fill: #000000;*/
}
.devicons-streamline {
	/*fill: #000000;*/
}
.devicons-database {
	/*fill: #000000;*/
}
.devicons-laravel {
	/*fill: #000000;*/
}
.devicons-javascript_1 {
	/*fill: #000000;*/
}
.devicons-angular_simple {
	/*fill: #000000;*/
}
.devicons-backbone {
	/*fill: #000000;*/
}
.devicons-coffeescript {
	/*fill: #000000;*/
}
.devicons-jquery_logo {
	/*fill: #000000;*/
}
.devicons-modernizr {
	/*fill: #000000;*/
}
.devicons-jquery_ui_logo {
	/*fill: #000000;*/
}
.devicons-ember {
	/*fill: #000000;*/
}
.devicons-dojo {
	/*fill: #000000;*/
}
.devicons-nodejs {
	/*fill: #000000;*/
}
.devicons-nodejs_small {
	/*fill: #000000;*/
}
.devicons-javascript {
	/*fill: #000000;*/
}
.devicons-bootstrap {
	/*fill: #000000;*/
}
.devicons-sass {
	/*fill: #000000;*/
}
.devicons-css3_full {
	/*fill: #000000;*/
}
.devicons-css3 {
	/*fill: #000000;*/
}
.devicons-html5 {
	/*fill: #000000;*/
}
.devicons-html5_multimedia {
	/*fill: #000000;*/
}
.devicons-html5_device_access {
	/*fill: #000000;*/
}
.devicons-html5_3d_effects {
	/*fill: #000000;*/
}
.devicons-html5_connectivity {
	/*fill: #000000;*/
}
.devicons-ghost_small {
	/*fill: #000000;*/
}
.devicons-ghost {
	/*fill: #000000;*/
}
.devicons-magento {
	/*fill: #000000;*/
}
.devicons-joomla {
	/*fill: #000000;*/
}
.devicons-jekyll_small {
	/*fill: #000000;*/
}
.devicons-drupal {
	/*fill: #000000;*/
}
.devicons-wordpress {
	/*fill: #000000;*/
}
.devicons-grunt {
	/*fill: #000000;*/
}
.devicons-bower {
	/*fill: #000000;*/
}
.devicons-npm {
	/*fill: #000000;*/
}
.devicons-yahoo_small {
	/*fill: #000000;*/
}
.devicons-yahoo {
	/*fill: #000000;*/
}
.devicons-bing_small {
	/*fill: #000000;*/
}
.devicons-windows {
	/*fill: #000000;*/
}
.devicons-linux {
	/*fill: #000000;*/
}
.devicons-ubuntu {
	/*fill: #000000;*/
}
.devicons-android {
	/*fill: #000000;*/
}
.devicons-apple {
	/*fill: #000000;*/
}
.devicons-appstore {
	/*fill: #000000;*/
}
.devicons-phonegap {
	/*fill: #000000;*/
}
.devicons-blackberry {
	/*fill: #000000;*/
}
.devicons-stackoverflow {
	/*fill: #000000;*/
}
.devicons-techcrunch {
	/*fill: #000000;*/
}
.devicons-codrops {
	/*fill: #000000;*/
}
.devicons-css_tricks {
	/*fill: #000000;*/
}
.devicons-smashing_magazine {
	/*fill: #000000;*/
}
.devicons-netmagazine {
	/*fill: #000000;*/
}
.devicons-codepen {
	/*fill: #000000;*/
}
.devicons-cssdeck {
	/*fill: #000000;*/
}
.devicons-hackernews {
	/*fill: #000000;*/
}
.devicons-dropbox {
	/*fill: #000000;*/
}
.devicons-google_drive {
	/*fill: #000000;*/
}
.devicons-visualstudio {
	/*fill: #000000;*/
}
.devicons-unity_small {
	/*fill: #000000;*/
}
.devicons-rasberry_pi {
	/*fill: #000000;*/
}
.devicons-chrome {
	/*fill: #000000;*/
}
.devicons-ie {
	/*fill: #000000;*/
}
.devicons-firefox {
	/*fill: #000000;*/
}
.devicons-opera {
	/*fill: #000000;*/
}
.devicons-safari {
	/*fill: #000000;*/
}
.devicons-swift {
	/*fill: #000000;*/
}
.devicons-symfony {
	/*fill: #000000;*/
}
.devicons-symfony_badge {
	/*fill: #000000;*/
}
.devicons-less {
	/*fill: #000000;*/
}
.devicons-stylus {
	/*fill: #000000;*/
}
.devicons-trello {
	/*fill: #000000;*/
}
.devicons-atlassian {
	/*fill: #000000;*/
}
.devicons-jira {
	/*fill: #000000;*/
}
.devicons-envato {
	/*fill: #000000;*/
}
.devicons-snap_svg {
	/*fill: #000000;*/
}
.devicons-raphael {
	/*fill: #000000;*/
}
.devicons-google_analytics {
	/*fill: #000000;*/
}
.devicons-compass {
	/*fill: #000000;*/
}
.devicons-onedrive {
	/*fill: #000000;*/
}
.devicons-gulp {
	/*fill: #000000;*/
}
.devicons-atom {
	/*fill: #000000;*/
}
.devicons-cisco {
	/*fill: #000000;*/
}
.devicons-nancy {
	/*fill: #000000;*/
}
.devicons-clojure {
	/*fill: #000000;*/
}
.devicons-clojure_alt {
	/*fill: #000000;*/
}
.devicons-perl {
	/*fill: #000000;*/
}
.devicons-celluloid {
	/*fill: #000000;*/
}
.devicons-w3c {
	/*fill: #000000;*/
}
.devicons-redis {
	/*fill: #000000;*/
}
.devicons-postgresql {
	/*fill: #000000;*/
}
.devicons-webplatform {
	/*fill: #000000;*/
}
.devicons-jenkins {
	/*fill: #000000;*/
}
